<footer class="footer pt-5 pb-3 border-top">
    <div class="container">
        <div class="row row-cols-md-2 g-2">
            <div class="col">
                <h3><span class="text-primary fw-bold">TEDx</span>Minoru Park <span class="fw-bold">Youth</span></h3>
                <ul class="list-unstyled">
                    <li>Email: {{site.email}}</li>
                    <li>Location: {{site.location}}</li>
                </ul>
                <div class="d-flex gap-2 fs-3">
                    <a href="{{site.social_links.instagram}}"><i class="fab fa-instagram" aria-hidden="true"></i></a>
                    <a href="{{site.social_links.linkedin}}"><i class="fab fa-linkedin" aria-hidden="true"></i></a>
                    <a href="{{site.social_links.discord}}"><i class="fab fa-discord" aria-hidden="true"></i></a>
                    <a href="{{site.social_links.github}}"><i class="fab fa-github" aria-hidden="true"></i></a>
                </div>
            </div>
            <div class="col">
                <p>Sign up to receive updates.</p>
                <div class="input-group mb-3">
                    <input type="email" class="form-control" placeholder="Your email" aria-label="Your email" aria-describedby="subscribe-button">
                    <div class="input-group-append">
                      <button class="btn btn-primary border-right btn-secondary" style="border-top-left-radius: 0;
                      border-bottom-left-radius: 0;" type="button" id="subscribe-button">Subscribe</button>
                    </div>
                  </div>              
            </div>
        </div>
    
        <div class="col col-12 text-center pt-3 text-muted">
            <p><span class="text-primary fw-bold">TEDx</span>Minoru Park <span class="fw-bold">Youth</span> and its events are operated under license from <span class="fw-bold">TED</span>.</p>
        </div>
    </div>
</footer>