<header class="header border-bottom sticky-top bg-light">
  <nav class="navbar navbar-expand-lg px-3">
    <a class="navbar-brand" href="{{ site.baseurl }}">
      <!-- <img src="../assets/img/logo.webp" alt="" /> -->
      <span class="text-primary fw-bold">TEDx</span>Minoru Park <span class="fw-bold">Youth</span>
    </a>
    <button class="navbar-toggler d-lg-none navbar-toggler-icon" type="button" data-bs-toggle="collapse"
      data-bs-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false"
      aria-label="Toggle navigation"></button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
      <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="aboutUsDropdown" data-bs-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">About Us</a>
          <div class="dropdown-menu" aria-labelledby="aboutUsDropdown">
            <a class="dropdown-item" href="{{ site.baseurl }}/team">Our Team</a>
            <a class="dropdown-item" href="{{ site.baseurl }}/history">History</a>
            <a class="dropdown-item" href="{{ site.baseurl }}/faq">FAQs</a>
            <a class="dropdown-item" href="{{ site.baseurl }}/faq#contact">Contact</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ site.baseurl }}/partners">Partners</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="" id="speakersDropdown" data-bs-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">Speakers</a>
          <div class="dropdown-menu" aria-labelledby="speakersDropdown">
            <a class="dropdown-item" href="{{ site.baseurl }}/speakers">2023 Speakers</a>
            <a class="dropdown-item" href="https://form.jotform.com/231959324411051">Become a speaker!</a>
          </div>
        </li>
        <!-- <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="{{ site.baseurl }}/events" id="eventsDropdown" data-bs-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">Events</a>
          <div class="dropdown-menu" aria-labelledby="eventsDropdown">
            <a class="dropdown-item" href="{{ site.baseurl }}/events#past">Past Events</a>
          </div>
        </li> -->
        <li class="nav-item ps-1">
          <a name="" id="" class="btn btn-primary" href="https://www.eventbrite.ca/a83jfiep/" role="button">Get Tickets</a>
        </li>
      </ul>
    </div>
  </nav>
</header>